<header>

  <img onclick="location.href='../../';" style="width:120px" src="https://res.cloudinary.com/wola/image/upload/v1656327536/wola/logo-wola-granada.svg"/>


  <nav>
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="nav-toggle">
        <label for="nav-toggle" class="navigation__button">
          <span class="navigation__icon" aria-label="toggle navigation menu"></span>
        </label>
        <div class="navigation__background"></div>

        <nav class="navigation__nav" role="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="#" class="navigation__link">Agencia</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Portfolio</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Servicios</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Blog</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Contato</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Kit Digital</a>
            </li>
      </ul>
    </nav>
  </div>
   
  </nav>

</header>
